* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.heading-text {
  text-align: center;
  color: #ce5b5b;
}
.full-box {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f6f7fb;
  border-radius: 4px solid red;
}
.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  width: 720px;
  justify-content: center;
}
.container .box {
  position: relative;
  height: 260px;
  width: 260px;
  border-radius: 12px;
  border: 2px solid #ce5b5b;
}
.image img {
  width: 260px;
  height: 260px;
}
.box {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-image: url('img.jpg');
}
.box.hovered {
  border: 2px solid #333;
}
